<ion-view view-title="Wish List">

   <ion-nav-buttons side="left">
       <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete;"></button>
   </ion-nav-buttons>


  <ion-content  scroll="true" class="padding">


<br/><br/>


<div class="button-bar">
   <a class="button button-calm" ng-click="filter('Wish')">W</a>
   <a class="button button-energized" ng-click="filter('Memory')">M</a>
   <a class="button button-balanced" ng-click="filter('Characteristics')">C</a>
   <a class="button button-assertive" ng-click="filter('Sad Moments')">S</a>
   <a class="button icon ion-refresh" ng-click="filter('Reset')"></a>
 </div> 
    
<br/>

  <ion-list 
      show-delete="data.showDelete">
   <ion-item ng-repeat= "wish in filteredRes track by $index">
      
    <div class="card">
       <div class="item item-text-wrap bg " ng-class="wish.type">
        {{wish.text}}   
      </div>
      <div class="item item-divider">
        {{wish._id | date : "medium"}}
      
      </div>
    
    
    </div>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="deleteWish(wish)">
    </ion-delete-button>
    
   </ion-item>
</ion-list>

<br/>
  </ion-content>
</ion-view>


